.about {
    padding: 5rem 0;

    .about-title {
        font-size: 3rem;
        font-weight: 700;
        width: max-content;
        margin: 0 auto;
    }
}

.about-data {
    display: flex;
    align-items: center;
    margin-top: 5rem;

    .about-image {
        width: calc(100% / 3);
        border: 20px solid #E54B4B;
        margin-top: 40px;

        img {
            width: 100%;
            height: auto;
            margin-top: -60px;
            margin-left: 40px;
            margin-bottom: 40px;
            position: relative;
            z-index: 1;
        }
    }

    .about-text {
        width: calc(100% / 3 * 2);
        padding-left: 7rem;
    }
}