<section class="about">
    <div class="container">
        <h2 class="about-title title-underline">Sobre</h2>
        <div class="about-data">
            <figure class="about-image">
                <img src="/images/about.jpg" alt="">
            </figure>
            <div class="about-text">
                <h3>Tome sua dose de café e mantenha as ideias em movimento!</h3>

                <p>
                    Oi, eu sou o Cristiano, mas você pode me chamar de Cris.
                    Sou um desenvolvedor Front End experiente, apaixonado por criar interfaces
                    de usuário intuitivas e eficientes. Ao longo da minha carreira, tenho me
                    dedicado a transformar ideias em realidade digital, sempre com foco na
                    experiência do usuário. Adoro desafios e estou constantemente buscando
                    maneiras de aprimorar minhas habilidades e acompanhar as tendências do setor.
                </p>
            </div>
        </div>
    </div>
</section>
