.banner {
    width: 100vw;
    min-height: 100vh;
    
    background: url(images/banner.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    color: #ffffff;

    .banner-title {
        font-size: 4rem;
        margin-top: .5rem;

        &::after {
            content: "";
            display: block;
            height: .4rem;
            width: 5rem;
            background-color: #E54B4B;
            margin-top: .5rem;
        }
    }

    .banner-subtitle {
        font-size: 2rem;
        font-weight: 700;
        color: #E54B4B;
    }

    .banner-description {
        width: 100%;
        max-width: 420px;
        margin-top: 1rem;
        line-height: 1.5;
    }

    .socials {
        display: flex;
        justify-content: flex-end;
        margin-top: .5rem;
        width: 100%;
        max-width: 420px;
        
        a {
            margin-left: 1rem;
        }

        img {
            height: 1.5rem;
            width: auto;
            -webkit-filter: invert(100%);
            filter: invert(100%);
        }
    }
}