<section class="banner">

    <div class="container">
      <p class="banner-subtitle">Oi! Eu sou</p>
      <h1 class="banner-title">Cris Barros</h1>
      <p class="banner-description">
        Um dev front apaixonado por transformar ideias em experiências digitais eficientes, de alta qualidade e que trazem impacto real.
      </p>
      <div class="socials">
        <a href="https://www.linkedin.com/in/cristiano-barros-70b94b286/" target="_blank"><img src="images/icon/linkedin.png" alt=""></a>
        <a href="https://github.com/barrosCristiano" target="_blank"><img src="images/icon/github.png" alt=""></a>
        <a href="https://www.instagram.com/barros_cris" target="_blank"><img src="images/icon/instagram.png" alt=""></a>
        <a href="https://www.youtube.com/@barros_cris" target="_blank"><img src="images/icon/youtube.png" alt=""></a>
      </div>
    </div>
    
  </section>